In [1]:
!pip install folium fontawesome

Requirement already satisfied: folium in c:\users\usuario\anaconda3\lib\site-packages (0.16.0)
Requirement already satisfied: fontawesome in c:\users\usuario\anaconda3\lib\site-packages (5.10.1.post1)
Requirement already satisfied: branca>=0.6.0 in c:\users\usuario\anaconda3\lib\site-packages (from folium) (0.7.1)
Requirement already satisfied: jinja2>=2.9 in c:\users\usuario\anaconda3\lib\site-packages (from folium) (3.1.2)
Requirement already satisfied: numpy in c:\users\usuario\anaconda3\lib\site-packages (from folium) (1.24.3)
Requirement already satisfied: requests in c:\users\usuario\anaconda3\lib\site-packages (from folium) (2.31.0)
Requirement already satisfied: xyzservices in c:\users\usuario\anaconda3\lib\site-packages (from folium) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\usuario\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\usuario\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\usuario\anaconda3\lib\site-packages (from requests->folium) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\usuario\anaconda3\lib\site-packages (from requests->folium) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\anaconda3\lib\site-packages (from requests->folium) (2023.11.17)

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
import folium

import ipywidgets as widgets
from ipywidgets import interact, interact_manual

In [3]:
customers = pd.read_csv('./data/olist_customers_dataset.csv')
geoloc = pd.read_csv('./data/olist_geolocation_dataset.csv')
items = pd.read_csv('./data/olist_order_items_dataset.csv')
payments = pd.read_csv('./data/olist_order_payments_dataset.csv')
reviews = pd.read_csv('./data/olist_order_reviews_dataset.csv')
orders = pd.read_csv('./data/olist_orders_dataset.csv')
products = pd.read_csv('./data/olist_products_dataset.csv')
sellers = pd.read_csv('./data/olist_sellers_dataset.csv')
categories = pd.read_csv('./data/product_category_name_translation.csv')

In [4]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [5]:
print(geoloc.info())
geoloc.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
None

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [6]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [7]:
items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [25]:
items_comp = items.merge(sellers, how='left', on='seller_id')
print(items_comp.info())
items_comp.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_id                112650 non-null  object
 1   order_item_id           112650 non-null  int64
 2   product_id              112650 non-null  object
 3   seller_id               112650 non-null  object
 4   shipping_limit_date     112650 non-null  object
 5   price                   112650 non-null  float64
 6   freight_value           112650 non-null  float64
 7   seller_zip_code_prefix  112650 non-null  int64
 8   seller_city             112650 non-null  object
 9   seller_state            112650 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 8.6+ MB
None

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,seller_zip_code_prefix,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,27277,volta redonda,SP
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,3471,sao paulo,SP
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,37564,borda da mata,MG
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,14403,franca,SP
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,87900,loanda,PR

In [27]:
items_short = items_comp.drop(['price','freight_value','seller_zip_code_prefix','seller_city'], axis = 1)
items_short.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,SP
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,SP
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,MG
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,SP
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,PR

In [8]:
print(orders.info())
orders.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [28]:
items_seller_orders = items_short.merge(orders, how='left', on='order_id')
items_seller_orders.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,seller_state,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_on_time_delivery
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,SP,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29,True
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,SP,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15,True
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,MG,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05,True
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,SP,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20,True
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,PR,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17,True

In [29]:
items_seller_orders = items_seller_orders.drop(['order_approved_at','order_purchase_timestamp','order_delivered_carrier_date'], axis = 1)
items_seller_orders.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,seller_state,customer_id,order_status,order_delivered_customer_date,order_estimated_delivery_date,order_on_time_delivery
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,SP,3ce436f183e68e07877b285a838db11a,delivered,2017-09-20 23:43:48,2017-09-29,True
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,SP,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-05-12 16:04:24,2017-05-15,True
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,MG,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-22 13:19:16,2018-02-05,True
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,SP,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-14 13:32:39,2018-08-20,True
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,PR,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-03-01 16:42:31,2017-03-17,True

In [30]:
items_seller_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       112650 non-null  object
 1   order_item_id                  112650 non-null  int64
 2   product_id                     112650 non-null  object
 3   seller_id                      112650 non-null  object
 4   shipping_limit_date            112650 non-null  object
 5   seller_state                   112650 non-null  object
 6   customer_id                    112650 non-null  object
 7   order_status                   112650 non-null  object
 8   order_delivered_customer_date  110196 non-null  datetime64[ns]
 9   order_estimated_delivery_date  112650 non-null  datetime64[ns]
 10  order_on_time_delivery         112650 non-null  bool
dtypes: bool(1), datetime64[ns](2), int64(1), object(7)
memory usage: 8.7+ MB

In [31]:
items_seller_orders["shipping_limit_date"] = pd.to_datetime(items_seller_orders["shipping_limit_date"], format = "%Y-%m-%d %H:%M:%S")
items_seller_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       112650 non-null  object
 1   order_item_id                  112650 non-null  int64
 2   product_id                     112650 non-null  object
 3   seller_id                      112650 non-null  object
 4   shipping_limit_date            112650 non-null  datetime64[ns]
 5   seller_state                   112650 non-null  object
 6   customer_id                    112650 non-null  object
 7   order_status                   112650 non-null  object
 8   order_delivered_customer_date  110196 non-null  datetime64[ns]
 9   order_estimated_delivery_date  112650 non-null  datetime64[ns]
 10  order_on_time_delivery         112650 non-null  bool
dtypes: bool(1), datetime64[ns](3), int64(1), object(6)
memory usage: 8.7+ MB

In [ ]:
from pathlib import Path  
items_seller_orders.to_csv('items_seller_orders.csv', index=False)

In [32]:

from pathlib import Path  
filepath = Path('./data/items_seller_orders.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
items_seller_orders.to_csv(filepath)

In [9]:
items['order_item_id'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21], dtype=int64)

In [10]:
items.loc[items['order_id']== '00010242fe8c5a6d1ba2dd792cb16214']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29

In [11]:
orders.loc[orders['order_id']== '00010242fe8c5a6d1ba2dd792cb16214']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
85267,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00

In [12]:
print(items['order_id'].nunique())
print(items['order_id'].count())
print(orders['order_id'].nunique())
print(orders['order_id'].count())

98666
112650
99441
99441

In [13]:
orders['order_status'].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

In [14]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [15]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [16]:
orders["order_purchase_timestamp"] = pd.to_datetime(orders["order_purchase_timestamp"], format = "%Y-%m-%d %H:%M:%S")
orders["order_delivered_carrier_date"] = pd.to_datetime(orders["order_delivered_carrier_date"], format = "%Y-%m-%d %H:%M:%S")
orders["order_delivered_customer_date"] = pd.to_datetime(orders["order_delivered_customer_date"], format = "%Y-%m-%d %H:%M:%S")
orders["order_estimated_delivery_date"] = pd.to_datetime(orders["order_estimated_delivery_date"], format = "%Y-%m-%d %H:%M:%S")
orders["order_approved_at"] = pd.to_datetime(orders["order_approved_at"], format = "%Y-%m-%d %H:%M:%S")
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [17]:
orders["order_on_time_delivery"] = np.where(orders['order_delivered_customer_date'] > orders['order_estimated_delivery_date'], False, True)
#this column stands for the On time vs Late deliveries, later to be used for performance metric.
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_on_time_delivery
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,True
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,True
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,True
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,True
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,True

In [18]:
print(customers.info())
print(sellers.info())
print(geoloc.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
None

In [19]:
print(sellers['seller_zip_code_prefix'].unique())
print(sellers['seller_city'].unique())
print(sellers['seller_state'].unique())

[13023 13844 20031 ...  4650 96080 12051]
['campinas' 'mogi guacu' 'rio de janeiro' 'sao paulo' 'braganca paulista'
 'brejao' 'penapolis' 'curitiba' 'anapolis' 'itirapina' 'tubarao'
 'lauro de freitas' 'imbituba' 'brasilia' 'porto seguro' 'guaruja'
 'tabatinga' 'salto' 'tres de maio' 'belo horizonte' 'arapongas'
 'sao bernardo do campo' 'tatui' 'garopaba' 'camanducaia' 'tupa'
 'guarulhos' 'sao jose dos pinhais' 'sao ludgero' 'sao jose' 'piracicaba'
 'porto alegre' 'congonhal' 'santo andre' 'osasco' 'valinhos' 'joinville'
 'saquarema' 'barra velha' 'petropolis' 'santo antonio da patrulha'
 'ponta grossa' 'santana de parnaiba' 'sao carlos' 'ibitinga' 'barueri'
 'caxias do sul' 'araguari' 'contagem' 'jaragua do sul' 'lages - sc'
 'bento goncalves' 'catanduva' 'ribeirao pires' 'jaboticabal' 'echapora'
 'cotia' 'rio do sul' 'sorocaba' 'pradopolis' 'itaborai' 'mirassol'
 'birigui' 'assis' 'jaguariuna' 'araraquara' 'macae' 'rio claro'
 'londrina' 'ribeirao preto' 'tres coracoes' 'nhandeara' 'orleans'
 'cuiaba' 'formosa do oeste' 'santos' 'santa terezinha de goias'
 'arvorezinha' 'guiricema' 'caruaru' 'franca' 'salvador' 'diadema'
 'itaquaquecetuba' 'lencois paulista' 'carapicuiba' 'uruacu' 'itajai'
 'loanda' 'maringa' 'ferraz de vasconcelos' 'limeira' 'claudio' 'niteroi'
 'osvaldo cruz' 'sao goncalo' 'jaciara' 'balenario camboriu' 'timbo'
 'jacutinga' 'fortaleza' 'ferraz de  vasconcelos' 'mirandopolis' 'bauru'
 'jacarei' 'itu' 'laranjeiras do sul' 'videira' 'florianopolis'
 'itapecerica da serra' 'mamanguape' 'ponte nova' 'goioere' 'pederneiras'
 'itapevi' 'goiania' 'campina grande' 'estancia velha' 'resende' 'maua'
 'caratinga' 'auriflama/sp' 'cafelandia' 'uba' 'sao paulo / sao paulo'
 'sao jose do rio preto' 'porto ferreira' 'tres coroas' 'blumenau'
 'mogi das cruzes' 'jaci' 'laranjal paulista' 'americana' 'sertanopolis'
 'apucarana' 'colombo' 'vicente de carvalho' 'mesquita' 'sao pauo'
 'cascavel' 'fazenda rio grande' 'taboao da serra' 'sao jose dos campos'
 'toledo' 'marechal candido rondon' 'jundiai' 'mandirituba' 'suzano'
 'vespasiano' 'santa rosa' 'sao joaquim da barra' 'santo antonio de posse'
 'uruguaiana' 'campanha' 'piracanjuba' 'concordia' 'santa rita do sapucai'
 'barretos' 'indaiatuba' 'nilopolis' 'pompeia' 'barro alto' 'são paulo'
 'praia grande' 'luiz alves' 'brusque' 'criciuma' 'jales' 'atibaia'
 'rio branco' 'barra mansa' 'marilia' 'bahia' 'taubate' 'cascavael'
 'monteiro lobato' 'viana' 'paraiba do sul' 'mococa' 'sao roque' 'passos'
 'francisco beltrao' 'tocantins' 'porto belo' 'nova iguacu' 'icara'
 'lajeado' 'horizontina' 'votorantim' 'campo bom' 'monte alto'
 'fernandopolis' 'pedreira' 'poa' 'divinopolis' 'santa barbara d´oeste'
 'canoas' 'mombuca' 'sete lagoas' 'campo do meio' 'cordeiropolis'
 'uberlandia' 'santa barbara d oeste' 'volta redonda' '04482255'
 'aracatuba' 'monte siao' 'garuva' 'bonfinopolis de minas' 'cosmopolis'
 'pocos de caldas' 'artur nogueira' 'joao pessoa' 'dois corregos'
 'araquari' 'novo hamburgo, rio grande do sul, brasil' 'floranopolis'
 'sumare' 'guaira' 'cachoeiro de itapemirim' 'serrana' 'rolandia'
 'congonhas' 'sao  jose dos pinhais' 'boituva' 'mairipora' 'guaimbe'
 'parai' 'aperibe' 'jaguaruna' 'vila velha' 'juiz de fora' 'fronteira'
 'novo horizonte' 'pilar do sul' 'itajobi' 'cariacica / es' 'prados'
 'mucambo' 'montes claros' 'vicosa' 'porto velho' 'sao jose do rio pardo'
 'pato branco' 'sao joao del rei' 'presidente prudente' 'paracambi'
 'serra negra' 'sao caetano do sul' 'bom jardim' 'serra redonda'
 'sao francisco do sul' 'betim' 'imbituva' 'guaratuba' 'teresina'
 "sao miguel d'oeste" 'california' 'japira' 'foz do iguacu'
 'nova friburgo' 'itau de minas' 'oliveira' 'sabara' 'pedrinhas paulista'
 'votuporanga' 'holambra' 'ararangua' 'pinhais' 'pato bragado' 'carazinho'
 'arinos' 'sao pedro' 'lages' 'ampere' 'itauna' 'mogi mirim' 'curitibanos'
 'brasilia df' 'mogi das cruses' 'hortolandia' 'ipatinga' 'laguna'
 'dores de campos' 'sao paulo - sp' 'araras' 'divisa nova'
 'igaracu do tiete' 'pitangueiras' 'campo grande' 'garca'
 'presidente epitacio' 'sbc/sp' "arraial d'ajuda (porto seguro)"
 'pacatuba' 'formosa' 'borda da mata' 'ubatuba' 'entre rios do oeste'
 'formiga' 'venancio aires' 'navegantes' 'cruzeiro' 'santa maria' 'muriae'
 'santo andre/sao paulo' 'ipe' 'messias targino' 'varginha' 'botucatu'
 'domingos martins' 'uberaba' 'coronel fabriciano' 'cachoeirinha'
 's jose do rio preto' 'taruma' 'pirassununga' 'aruja' 'sp / sp'
 'angra dos reis' 'juzeiro do norte' 'laurentino' 'flores da cunha'
 'montenegro' 'pedregulho' 'novo hamburgo' 'torres' 'aracaju'
 'santa catarina' 'joao pinheiro' 'bady bassitt' 'sinop' 'guarapuava'
 'araucaria' 'vitoria' 'batatais' 'lagoa santa' 'chapeco' 'umuarama'
 'belford roxo' 'cariacica' 'monte alegre do sul' 'sp' 'lagoa da prata'
 'rolante' 'teresopolis' 'itaporanga' 'campo largo' 'sao joao de meriti'
 'maua/sao paulo' 'bom jesus dos perdoes' 'brotas' 'irece' 'coxim' 'jau'
 'conselheiro lafaiete' 'amparo' 'sao miguel do oeste' 'gaspar'
 'rio bonito' 'mandaguari' 'vargem grande paulista' 'conchal' 'cambe'
 'marialva' 'alfenas' 'balneario camboriu' 'palhoca'
 'sao bernardo do capo' 'guara' 'colatina' 'franco da rocha' 'lambari'
 'mogi das cruzes / sp' 'treze tilias' 'rio de janeiro \\rio de janeiro'
 'paulo lopes' 'santa cecilia' 'braco do norte' 'floresta' 'farroupilha'
 'castro' 'luziania' 'joao monlevade' 'pelotas' 'sao bento'
 'campos dos goytacazes' 'ouro fino' 'sao jose dos pinhas' 'tiete'
 'viamao' 'janauba' 'capivari' 'santa terezinha de itaipu' 'igrejinha'
 'sao bento do sul' 'duque de caxias' 'araxa' 'canoinhas' 'recife'
 'barbacena/ minas gerais' 'vera cruz' 'parnamirim' 'santo angelo'
 'paincandu' 'tres rios' 'tanabi' 'portoferreira' 'itatiba' 'sarandi'
 'cravinhos' 'morrinhos' 'bebedouro' 'almirante tamandare' 'bertioga'
 'natal' 'belo horizont' 'ivoti' 'andira-pr' 'cerqueira cesar' 'marapoama'
 'imigrante' 'mairinque' 'sao paulo sp' 'rio de janeiro / rio de janeiro'
 'andradas' 'sando andre' 'nova odessa' 'paulinia' 'extrema' 'olimpia'
 'angra dos reis rj' 'ronda alta' 'sao  paulo' 'sao vicente' 'pinhais/pr'
 'portao' 'registro' 'ao bernardo do campo' 'carmo do cajuru'
 'embu das artes' 'fernando prestes' 'castro pires' 'vargem grande do sul'
 'campina das missoes' 'sao pedro da aldeia' 'miguelopolis' 'itapui' 'sbc'
 'neopolis' 'mineiros do tiete' 'varzea paulista' 'nova lima' 'barbacena'
 'caieiras' 'buritama' 'erechim' 'itapetininga' 'pinhalzinho' 'descalvado'
 'pitanga' 'bage' 'taio' "santa barbara d'oeste" 'patos de minas'
 'garulhos' 'jarinu' 'nova petropolis' 'ribeirao preto / sao paulo'
 'camboriu' 'nova trento' 'sao luis' 'sao jose do rio pret' 'eusebio'
 'itaipulandia' 'ipira' 'campo magro' 'tiradentes' 'sao paluo' 'baependi'
 'embu guacu' 'paraiso do sul' 'aparecida' 'cataguases' 'bariri'
 'abadia de goias' 'alambari' 'ji parana' 'vassouras' 'lorena' 'rodeio'
 'louveira' 'guanhaes' 'santo antonio de padua' 'presidente getulio'
 'campos novos' 'eunapolis' 'engenheiro coelho' 'rio das pedras'
 'afonso claudio' 'carapicuiba / sao paulo' 'centro' 'parana' 'indaial'
 'bombinhas' 'orlandia' 'itapeva' 'sao sebastiao' 'macatuba'
 'sao joao da boa vista' 'teixeira soares' 'mandaguacu' 'rio do oeste'
 'vendas@creditparts.com.br' 'armacao dos buzios' 'mateus leme'
 'sao paulop' 'campo limpo paulista' 'socorro' 'serra' 'bocaiuva do sul'
 'ilheus' 'imbe' 'soledade' 'cajamar' 'rio negrinho' 'clementina'
 'francisco morato' 'rio grande' 'xaxim' 'manaus' 'terra boa'
 'minas gerais' 'avare' 'ibirite' 'santa maria da serra' 'auriflama'
 'condor' 'ibia' 'guanambi' 'caucaia' 'cordilheira alta' 'carmo da mata'
 'ouro preto' 'pedro leopoldo' 'santa rosa de viterbo' 'xanxere'
 'alvares machado' 'scao jose do rio pardo' 'ribeirao das neves'
 'medianeira' 'massaranduba' 'cornelio procopio' 'pirituba' 'jambeiro'
 'sao leopoldo' 'aguas claras df' 'ribeirao pretp' 'cianorte'
 'feira de santana' 'cachoeira do sul' 'guariba'
 'sao sebastiao da grama/sp' 'dracena' 'ourinhos' 'robeirao preto'
 'cacador' 'gama' 'queimados' 'cananeia' 'presidente bernardes' 'pinhalao'
 'sombrio' 'campo mourao' 'ilicinea' 'itabira' 'barrinha' 'jussara'
 'uniao da vitoria' 'triunfo' 'santa cruz do sul' 'colorado' 'itapema'
 'sapiranga' 'paranavai' 'alvorada' 'ipaussu' 'rio verde' 'mage'
 'tabao da serra' 'bofete' 'picarras' 'marica' 'jaragua'
 'governador valadares' 'rio de janeiro, rio de janeiro, brasil'
 'pouso alegre' 'timoteo' 'muqui' 'ipua' 'jacarei / sao paulo'
 'varzea alegre' 'guaratingueta' 'tambau' 'irati' 'riberao preto'
 'aparecida de goiania' 'bandeirantes' 'vitoria de santo antao' 'palotina'
 'leme']
['SP' 'RJ' 'PE' 'PR' 'GO' 'SC' 'BA' 'DF' 'RS' 'MG' 'RN' 'MT' 'CE' 'PB'
 'AC' 'ES' 'RO' 'PI' 'MS' 'SE' 'MA' 'AM' 'PA']

In [20]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [21]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [ ]:
@interact
def scatter_plot(x=list(orders.columns), 
                 y=list(orders.columns)):
    orders.iplot(kind='scatter', x=x, y=y, mode='markers', 
             xTitle=x.title(), yTitle=y.title(), title=f'{y.title()} vs {x.title()}')